[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/anilkumar9966
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/anilkumar9966
	label-Verified = -1..+1 group user/anilkumar9966
	push = group user/anilkumar9966
	read = group user/anilkumar9966
	rebase = group user/anilkumar9966
	removeReviewer = group user/anilkumar9966
	submit = group user/anilkumar9966
[access "refs/heads/*"]
	create = group user/anilkumar9966
	push = +force group user/anilkumar9966
	pushMerge = group user/anilkumar9966
	read = group user/anilkumar9966
[access "refs/tags/*"]
	push = group user/anilkumar9966
	push = +force group user/anilkumar9966
